$fonts-headline: "arial narrow", Arial, Verdana, sans-serif;
$fonts-body: verdana, arial, sans-serif;
$background-color: #daede2;
$primary: #04c5b2;
$accent1: #04D9C4;
$accent2: #02735E;
$grey-sidebar: #0D0D0D;
$text-dark: #0D0D0D;
$text-light: #F2F2F2;
